@import "common";
#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  header {
    flex: none;
    background: #062a50;
    height: 330px;

    .header-wrap {
      margin: 0 auto;
      position: relative;
      max-width: 1220px;
      display: flex;
      justify-content: space-between;
    }

    #logo {
      height: 46px;
      line-height: 46px;
      margin-top: 36px;
    }

    #nav {
      width: 716px;
      display: flex;
      margin-top: 34px;
      position: relative;
    }

    .menu {
      height: $displayMenuHeight;
      line-height: $displayMenuHeight;
      padding: 0 30px;
      border-radius: 5px;
      margin: 0 2px;
      position: relative;
      @include menu;
    }

  }

  main {
    flex: auto;
  }

  footer {
    flex: none;
    background: #0a76a4;
    height: 200px;
  }
}

#subProducts {
  position: fixed;
  width: 96vw;
  left: 1vw;
  top: 85px;
  z-index: 2;
  background: black;
  visibility: hidden;
  height: 200px;
}

#products:hover #subProducts{
  visibility: visible;
}
